
.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 0px;
  width: 100%;
}

h1 {
  font-size: 30px;
  line-height: 1;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  line-height: 1;
  color: rgb(153, 153, 153);
}

p {
  margin: 15px 0;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: rgb(99, 98, 98);
}

footer {
  padding: 20px 0;
  text-align: center;
}

span.label {
  display: inline-block;
  vertical-align: middle;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: .25em;
  padding: 5px 3px 2px;
}
span.label-arch { background-color: #4CAF50; }
span.label-sys { background-color: #2196F3; }
span.label-sec { background-color: #F44336; }
span.label-ai { background-color: #FF9800; }
span.label-neuro { background-color: #008080; }
span.label-gpu { background-color: #191970; }
span.label-fpga { background-color: #B8860B; }
span.label-modeling { background-color: #708090; }
span.label-mobile { background-color: #BA55D3; }
span.label-database { background-color: #4B0150; }
span.label-pim { background-color: #FF6700; }
